<html>
    <head><title>AyeMusic!</title></head>
    <body>
        try it!
        <form method="GET" action="/search">
        <input type="text" name="search_query">
        <input type="submit">
        </form>
    </body>
</html>