<html>

<head>
    <title>AyeMusic!</title>
</head>

<body>
    <ul>
        <% for(var i=0; i<list.length; i++) {%>
        <li>
            <a href="/watch?v=<%= list[i].id %>">
                <img src="<%= list[i].thumbnails.high.url %>"  height="70" width="70">
                <%= list[i].title %>
            </a>
        </li>
        <% } %>
    </ul>
</body>

</html>